<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://betking.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>betking.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>betking</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$betking</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Clay.Models.ApplicationDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=u069yx7r1t.database.windows.net,1433;Initial Catalog=LockDB;User ID=ClaySazara@u069yx7r1t;Password=DBPassClay1;Application Name=EntityFramework" Name="Data Source=u069yx7r1t.database.windows.net,1433;Initial Catalog=LockDB;User ID=ClaySazara@u069yx7r1t;Password=DBPassClay1;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Clay.Models.ApplicationDbContext, Clay" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="LockDBEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=u069yx7r1t.database.windows.net,1433;Initial Catalog=LockDB;User ID=ClaySazara@u069yx7r1t;Password=DBPassClay1;Application Name=EntityFramework" Name="Data Source=u069yx7r1t.database.windows.net,1433;Initial Catalog=LockDB;User ID=ClaySazara@u069yx7r1t;Password=DBPassClay1;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Repository.Model.LockDBEntities, Repository" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Clay.Models.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Data Source=u069yx7r1t.database.windows.net,1433;Initial Catalog=LockDB;User ID=ClaySazara@u069yx7r1t;Password=DBPassClay1;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LockDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model.DataModel.csdl|res://*/Model.DataModel.ssdl|res://*/Model.DataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=u069yx7r1t.database.windows.net,1433;Initial Catalog=LockDB;User ID=ClaySazara@u069yx7r1t;Password=DBPassClay1;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Clay.Models.ApplicationDbContext" />
  </ItemGroup>
</Project>